@import "../variables/variables";
/*------------DESKTOP LARGE-----*/
@media screen and (min-width:1200px){
    section#section-start{
        height: 100vh;
        header{
            #box-languaje{
                .switch {
                    width: 60px;
                    height: 34px;    
                }
                .slider:before {
                    height: 26px;
                    width: 26px;    
                }
                input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }    
            }    
        }        
        img#layer1{
            width: 230px;
            //transform: translate(0,60px);
        } 
        h1#layer1-5{
            font-size: 16px;
            -webkit-transform: translate(0,320px);
            -ms-transform: translate(0,320px);
            transform: translate(0,320px);
        } 
        img#layer2{
            width: 230px;
            -webkit-transform: translate(0,430px);
            -ms-transform: translate(0,430px);
            transform: translate(0,430px);
        } 
        img#layer3{
            width: 25px;
            position: absolute;
            bottom: -520px;
        }
        img#layer4{
            width: 25px;
            position: absolute;
            bottom: -520px;
            left: 35%;
        }
        img#layer5{
            width: 25px;
            position: absolute;
            bottom: -490px;//bootstrap
            left: 30%;
        }
        img#layer6{
            width: 25px;
            position: absolute;
            bottom: -520px;//js
            left: 25%;
        }
        img#layer7{
            width: 25px;
            position: absolute;
            bottom: -520px;
            left: 65%;
        }
        img#layer8{
            width: 25px;
            position: absolute;
            bottom: -490px;
            left: 58%;
        }
        img#layer9{
            width: 25px;
            position: absolute;
            bottom: -490px;
            left: 42%;
        }
        img#layer10{
            width: 15px;
            position: absolute;
            bottom: -490px;
            left: 70%;
        }        
        
    }    
    section#section-about-me{
        height: 100vh;
        .box-img-maday{
            ul#scene1{
                #img-maday{

                }
                h2{
                    margin:0;
                    #name{
                        font-size: 48px;
                        margin-left: -40px;
                        font-family: 'Cormorant SC', serif;     
                    }
                    #last-name{
                        font-size: 48px;
                        margin-left: -40px;
                        font-family: 'Orbitron', sans-serif;
                    }    
                }            
                #what{
                    color: #fff;
                    margin-left: -40px;
                    margin-top: 120px;
                    font-family: 'Carrois Gothic SC', sans-serif;
                }
            }        
        } 
        .box-content-about-me{
            height: 100vh;
            display: table;
            .content-about-me{
                display: table-cell;
                vertical-align: middle;
            }    
        }  
    }
}