@import "../variables/variables";
/*------------DESKTOP LARGE-----*/
@media screen and (min-width:1200px){
    section#section-start{
        height: 100vh;
        header{
            //padding-top: 20px;
            h2{
                font-size: 20px;
                //top: 20px;
                left: 0px;
            }                    
            button{
                top: 20px;
                right: 100px;
            }  
        }
        h1{
            font-size: 20px;
        }                      
    }    
    section#section-about-me{
        //height: 100vh;
        .box-img-maday{
            ul#scene1{
                #img-maday{
                    height: 80vh;
                }
                h2{
                    margin:0;
                    #name{
                        font-size: 48px;
                        margin-left: -20px;
                        font-family: 'Cormorant SC', serif;     
                    }
                    #last-name{
                        font-size: 48px;
                        margin-left: -20px;
                        font-family: 'Orbitron', sans-serif;
                    }    
                }            
                #what{
                    color: #fff;
                    margin-left: -20px;
                    margin-top: 120px;
                    font-family: 'Carrois Gothic SC', sans-serif;
                }
            }        
        } 
        .box-content-about-me{
            height: 90vh;
            display: table;
            .content-about-me{
                display: table-cell;
                vertical-align: middle;
            }    
        }  
    }
}