@import "../variables/variables";
/*------------DESKTOP-----*/
@media screen and (min-width:992px) and (max-width:1199px){
    section#section-start{
        height: 100vh; 
        header{

            h2{
                font-size: 20px;
                top: 10px;
            }                    
            button{
                top: 30px;
                right: 40px;
            }  
        }
        h1{
            font-size: 20px;
        }                       
    }  
}