@import "../variables/variables";
/*------------TABLET-----*/
@media screen and (min-width:768px) and (max-width:991px){
    section#section-start{
        height: 566px; 
        header{
            h2,#box-languaje span{
                font-size: 16px;
            }
            #box-languaje{                  
                .switch {
                    width: 30px;
                    height: 17px;    
                }
                .slider:before {
                    height: 13px;
                    width: 13px;    
                }
                input:checked + .slider:before {
                    -webkit-transform: translateX(13px);
                    -ms-transform: translateX(13px);
                    transform: translateX(13px);
                }    
            }    
        }        
        img#layer1{
            width: 180px;//img-Maday
            //transform: translate(0,60px);
        } 
        h1#layer1-5{//h1 texto dinámico
            font-size: 16px;
            transform: translate(0,260px);
        } 
        img#layer2{
            width: 230px;
            transform: translate(0,350px);//laptop img
        } 
        img#layer3{
            width: 25px;
            position: absolute;
            bottom: -430px;//css
        }
        img#layer4{
            width: 25px;
            position: absolute;
            bottom: -430px;//html
            left: 35%;
        }
        img#layer5{
            width: 25px;
            position: absolute;
            bottom: -390px;//bootstrap
            left: 30%;
        }
        img#layer6{
            width: 25px;
            position: absolute;
            bottom: -430px;//js
            left: 25%;
        }
        img#layer7{
            width: 25px;
            position: absolute;
            bottom: -430px;//jquery
            left: 65%;
        }
        img#layer8{
            width: 25px;
            position: absolute;
            bottom: -390px;
            left: 58%;
        }
        img#layer9{
            width: 25px;
            position: absolute;
            bottom: -390px;
            left: 42%;
        }
        img#layer10{
            width: 15px;
            position: absolute;
            bottom: -390px;
            left: 70%;
        }                
    }
    section#section-about-me{
        padding-bottom: 20px;
        div.img-maday1{
            //height: 70vh;
            ul#scene1{
                h2{
                    margin:0;
                    text-align: center;
                    #name{
                        //margin-left: -10px;     
                    }
                    #last-name{
                        //font-size: 48px;
                        //margin-left: -10px;
                    }    
                }            
                #what{
                    text-align: center;
                    //margin-left: -10px;
                }
            }    
        }        
        div.content-about-me{  
        }
    }
}