@import "../variables/variables";
/*------------TABLET-----*/
@media screen and (min-width:768px) and (max-width:991px){
    section#section-start{
        height: 100vh; 
        header{
            //padding-top: 20px;
            h2{
                font-size: 20px;
                top: 20px;
            }                    
            button{
                top: 20px;
                right: 20px;
            }  
        }
        h1{
            font-size: 20px;
        }
    }

    section#section-about-me{
        padding-bottom: 20px;
        div.img-maday1{
            //height: 70vh;
            ul#scene1{
                h2{
                    margin:0;
                    text-align: center;
                    #name{
                        //margin-left: -10px;     
                    }
                    #last-name{
                        //font-size: 48px;
                        //margin-left: -10px;
                    }    
                }            
                #what{
                    text-align: center;
                    //margin-left: -10px;
                }
            }    
        }        
        div.content-about-me{  
        }
    }
}