@import "../variables/variables";
/*------------TABLET-----*/
@media screen and (min-width:768px) and (max-width:991px){
    section#section-start{
        h1{
            font-size: 18px;
        }
        img#layer2{
            width: 250px;
            transform: translate(0,70px);
        } 
        img#layer3{
            transform: translate(0,70px);
        }
        img#layer4{
            transform: translate(0,90px);
        }
        img#layer5{
            transform: translate(0,110px);
        }
        img#layer6{
            transform: translate(0,130px);
        }
        img#layer7{
            transform: translate(0,150px);
        }
        img#layer8{
            transform: translate(0,170px);
        }
        img#layer9{
            transform: translate(0,190px);
        }
        .switch {
            width: 30px;
            height: 17px;    
        }
        .slider:before {
            height: 13px;
            width: 13px;    
        }
        input:checked + .slider:before {
            -webkit-transform: translateX(13px);
            -ms-transform: translateX(13px);
            transform: translateX(13px);
        }
    }   
}