@import "../variables/variables";
/*------------CELULARES-----*/
@media screen and (max-width:767px){
    section.hero{
        header{
            h2#developer{
                font-size: 14px;
            }
            ul#menu-xs-sm{
                list-style: none;
                margin: 0;
                padding: 0;
                background-color: rgba(0,0,0,.7);
                li{

                    a{
                        display: block;
                        color: white;
                        text-align: center;
                        padding: 10px 20px;
                        text-decoration: none;
                        &:hover{
                            color: #purple;    
                            background-color: #000;
                        }
                    }
                }
            }    
        }        
        div#background-presentation{
            h1{
                font-size: $font-size-base*1.5;
            }            
        }
    }
    section.contact-me{
        a{
            i#icon-contact{
                font-size: $font-size-base*2;
            }    
        }            
    }
    footer{
        font-size: $font-size-base*.7;
    }
} 