* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //outline: 5px solid #fff;
}
@import "variables/variables";
@import "mixin/mixin";

body {      
    section#section-start{ 
        height: 100vh;        
        div#content-section-start{
            h3#img-box{  
                img#maday{
                position: relative;
                right: 0;
                left: 0;
                z-index: -20;
                margin: 0 auto;
                text-align: center;           
                border-radius: 100%;
                //border: solid 5px #C0474F;
            }    
            }            
            h2{
                font-family: 'Josefin Sans', sans-serif;
                position: relative;
                z-index: 20;
                color: #fff;
                //outline: 5px solid #fff;
                span{
                    float: right;
                    /* The switch - the box around the slider */
                    .switch {
                      position: relative;
                      display: inline-block;
                      /*width: 60px;
                      height: 34px;*/
                    }

                    /* Hide default HTML checkbox */
                    .switch input {display:none;}

                    /* The slider */
                    .slider {
                      position: absolute;
                      cursor: pointer;
                      top: 0;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      background-color: #ccc;
                      -webkit-transition: .4s;
                      transition: .4s;
                    }

                    .slider:before {
                      position: absolute;
                      content: "";
                      /*height: 26px;
                      width: 26px;*/
                      left: 4px;
                      bottom: 4px;
                      background-color: white;
                      -webkit-transition: .4s;
                      transition: .4s;
                    }

                    input:checked + .slider {
                      background-color: #2196F3;
                    }

                    input:focus + .slider {
                      box-shadow: 0 0 1px #2196F3;
                    }

                    input:checked + .slider:before {
                      /*-webkit-transform: translateX(26px);
                      -ms-transform: translateX(26px);
                      transform: translateX(26px);*/
                    }

                    /* Rounded sliders */
                    .slider.round {
                      border-radius: 34px;
                    }

                    .slider.round:before {
                      border-radius: 50%;
                    }
                }
            }
            h1{
                position: relative;
                z-index: 20;
                color: #fff;
                transform: translate(0,10px);
                font-family: 'Josefin Sans', sans-serif;
            }
            div#box-scene{                
                ul#scene{                    
                    li{
                        img#layer2{

                        }
                        img#layer3{
                            //transform: translate(0,200px);
                        }
                        img#layer4{
                            //transform: translate(0,200px);
                        }
                        img#layer5{
                            //transform: translate(0,200px);
                        }
                        img#layer6{
                            //transform: translate(0,200px);
                        }
                    }                         
                }    
            }                
        }
        .box-section-start{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -10;
            opacity: .8;
            background: #223A52;
        background: -webkit-linear-gradient(#223A52, #C0474F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#223A52, #C0474F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#223A52, #C0474F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#223A52, #C0474F); /* Standard syntax */     
        }                                
    }
}


