* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //outline: 1px solid purple;
}
@import "variables/variables";
@import "mixin/mixin";

html,
body { 
    margin: 0;
    padding: 0;    
    #hero{         
        .col-sm-10,.col-sm-2{
            padding: 0;  
            margin: 0;
        }
        div.nav{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 200;
            ul#menu{ 
                opacity: 0;
                margin: 0;
                padding: 0;
                list-style: none;
                width: 10px; 
                #start{
                    background-color: #FF6B57;
                    height: 20vh;
                    float: right;
                    vertical-align: middle;
                }
                #about-me{
                    background-color: #FF884D;
                    height: 20vh;
                    float: right;
                }
                #skill{
                    background-color: #32526E;
                    width: 10px;
                    height: 20vh;
                }
                #projects{
                    background-color: #81B9C3;
                    width: 10px;
                    height: 20vh;
                }
                #contact-me{
                    background-color: #41C3AC;
                    width: 10px;
                    height: 20vh;
                }
                .link{                
                    display: table;                 
                    width: 10px;
                        /*a{
                            width: 100%;
                            height: 20vh;
                            display: table-cell;
                            vertical-align: middle;                           
                            text-align: center;
                            color: #fff;
                            width: 10px;
                            text-decoration: none;
                        } 
                    a#a-contact-me{
                        height: 20.1vh;    
                    }*/
                }    
            }
        }
        #link-content{  
        margin: 0;
        padding: 0;
        height: 100vh;
        background: #FF6B57; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #FF6B57, #FF884D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #FF6B57, #FF884D); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #FF6B57, #FF884D); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #FF6B57, #FF884D); /* Standard syntax (must be last) */
        }
        section
        {
            //background: rgba(255, 0, 0, 0.3);
            position: absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            display: none;
            opacity:0;               
        }
        .visible{
                opacity:1;
                display: table;
                div.content
                {
                    //background: rgba(0, 255, 0, 0.1);
                    display:table-cell;
                    vertical-align: middle;
                    h2{
                        color: #fff;
                    }
            }
            }               
        /*----section-start---*/
        section#section-start{            
            div.container-canvas{
                div#particle-canvas{        
                    overflow: hidden;
                    height: 100vh;
                    width: 100wh;
                    margin: 0;
                    padding: 0;                
                }    
            }             
            h1,h2{
                position: absolute;
                left: 0;
                right: 0;                
                margin: auto;
                color: #fff;
                z-index: 1000;
                display: inline-block;
            }
            h1{
                //background-color: rgba(255, 107, 87,.3);
                background-color: rgba(0,0,0,.3);
                display: inline;
                bottom: 5px;
                padding: 10px 0;
            }
            h2{
               top: 20px; 
            }
        }
        section#section-about-me{
            h2{
                padding-bottom: 10px;
            }
            img{
                border: solid 4px #fff;
                border-radius: 10px;
            }
            .info {                
                padding: 10px;
                height: 250px;
                width: 250px;
                margin: auto;
                -webkit-perspective:700;
            }
            .container_info {
                display: table;
                height: 100%;
                width: 100%;
                position: relative;
                transform-style: preserve-3d;
                transition: 1s;
                .side {
                    display: table-cell;
                    vertical-align: middle;
                    height: 100%;
                    width: 100%; 
                    backface-visibility: hidden;
                    position: absolute;
                }
                div.front {
                    //background: red;
                    display: table-cell;
                    vertical-align: middle;
                    h3 i{
                        display: table-cell;
                        vertical-align: middle;
                        font-size: 60px;
                        color: #fff;
                    }
                }
                .back {                    
                    transform: rotateY(180deg);
                    font-size: 16px;
                    color: #fff;
                    text-align: justify;
                    display: block;
                }
                #awards{
                    color: #fff;
                }
            }
            .container_info:hover{
                transform: rotateY(180deg);
            }
            div.container-box-p{
                color: #fff;
                text-align: justify;
            }
        }
        section#section-skill{
            h3{
                color: #fff;
                padding-bottom: 10px;
                font-family: 'Pacifico', cursive;
            }
            #myProgress {
            width: 100%;
            background-color: #ddd;             #myBarHTML5,#myBarCss,#myBarBootstrap,#myBarJs,#myBarJquery,#myBarSass,#myBarGithub,#myBarGulp,#myBarProactividad,#myBarEquipo,#myBarLiderazgo,#myBarResponsabilidad,#myBarEntuciasmo,#myBarPensamiento,#myBarPuntualidad{              
                    width: 1%;
                    height: 30px;
                    background-color: #0F8B8D;  
                    color: #fff;
                    align-content: center;
                }
            }    
        }        
    }
}


