* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}
@import "variables/variables";
@import "mixin/mixin";

html,
body {    
    div.container-canvas{
        div#particle-canvas{        
            overflow: hidden;
            height: 100vh;
            width: 100wh;
            margin: 0;
            padding: 0;                
        }    
    }
    section.hero{
        /*background-color: rgba(255, 205, 13,.4);*/
        height: 100vh;
        width: 100wh;
        position: absolute;
        z-index: 100;        
        top: 0;
        right: 0;
        left: 0;
        color: #fff;
        div.hero-container{
            header{
                position: fixed;
                top: 0;
                right: 43px;
                left: 43px;
                z-index: 300;
                h2{
                    background-color: rgba(0,0,0,.7);
                    font-size: 16px;
                    display: inline-block;
                    padding: 7px;
                }                 
                    i{
                        background-color: rgba(0,0,0,.7);
                        padding: 10px;
                        margin: 20px 10px;
                        font-size: 16px;
                    }                
                    ul#menu{                        
                        display: inline-block;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: inline-flex;                        
                        li{                                
                            a{
                                display: block;
                                color: white;
                                font-size: 16px;
                                text-align: center;
                                padding: 10px 20px;
                                text-decoration: none;
                                background-color: rgba(0,0,0,.3);
                                &:hover{
                                    background-color: #111111;    
                                }
                            }
                        }
                    }                                    
            }
            div#background-presentation{
                text-align: center;
                margin: auto;
                position: absolute;
                top: 50%;
                right: 0;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);   
                h1{
                    text-align: center;
                }
            }            
        }        
    }
    marquee{        
        color: #fff;
        margin: 0;
        font-size: 30px;
    }
    section.about-me *{
        //outline: solid 1px purple;
    }    
    section.about-me{
        background-image: url(../img/maday.jpg);
        background-size:cover;
        background-position: top center;
        background-repeat: no-repeat;    
        background-attachment: fixed; 
        height: 100vh;
        position: relative;
        padding: 0;                 
        .box-p{            
            display: table;
            height: 80vh;
            background-color: rgba(255,255,255,.3);
            border-radius: 10px;
            margin-top: 20px;
            .container-box-p{                
                display: table-cell;
                vertical-align: middle; 
                h3{
                    color: #fff;
                    font-family: 'Lato', sans-serif;
                }
                hr{
                    color: #fff;
                    width: 50px;
                    text-align: center;
                    margin: auto;
                    border-top: 2px solid #fff;
                    margin-bottom: 20px;
                }
                p{
                    color: #DBEBC2;
                    text-align: justify;                
                    font-size: 16px;
                    padding: 0 20px;   
                    font-family: 'Ubuntu', sans-serif;
                    display: none;
                }
            }
                
        } 
        .info {
            display: table;
            padding: 10px;
            height: 150px;
            width: 150px;
            margin: auto;
            -webkit-perspective:700;
        }
        .container_info {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            width: 100%;
            position: relative;
            transform-style: preserve-3d;
            transition: 1s;
            .side {
                height: 100%;
                width: 100%; 
                backface-visibility: hidden;
                position: absolute;
            }
            div.front {
                //background: red;
                h3 i{
                    font-size: 60px;
                    color: #fff;
                }
            }
            .back {
                //background: gold;
                transform: rotateY(180deg);
                font-size: 16px;
                color: #fff;
            }
        }
        .container_info:hover{
            transform: rotateY(180deg);
        }        
    }
    section.skill{
        padding: 40px 0;
        h3{
            color: #0F8B8D;
            font-family: 'Gloria Hallelujah', cursive;
        }
        hr{
            color: #1A252F;
            width: 50px;
            text-align: center;
            margin: auto;
            border-top: 2px solid #1a252f;
            margin-bottom: 20px;
        }
        span{
            color: #D62246;
        }
        #myProgress {
            width: 100%;
            background-color: #ddd;                        
            #myBarHTML5,#myBarCss,#myBarJs,#myBarJquery,#myBarSass,#myBarGithub,#myBarGulp,#myBarProactividad,#myBarEquipo,#myBarLiderazgo,#myBarResponsabilidad,#myBarEntuciasmo,#myBarPensamiento,#myBarPuntualidad{                
                width: 1%;
                height: 30px;
                background-color: #0F8B8D;  
                color: #fff;
                align-content: center;
            }
        }            
    }
    section.projects{
        position: relative;
        padding: 40px 0;
        h3{
            color: #0F8B8D;
            font-family: 'Gloria Hallelujah', cursive;
        }
        hr{
            color: #1A252F;
            width: 50px;
            text-align: center;
            margin: auto;
            border-top: 2px solid #1a252f;
            margin-bottom: 20px;
        }
        .box-categoria-proyecto{
            margin-top: 20px;
            position: relative; 
            img{
                margin: 0 auto;    
            }            
        }
        .box-p{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0; 
            background: rgba(15, 139, 141,.7);
            opacity: 0;
        }
        .box-p:hover,.box-p:focus,.box-p:active{
            opacity: 1;
        }
        .box-categoria-proyecto p{
            position: absolute;
            font-size: 30px;        
            color: #fff;
            top: 50%;
            left: 0;
            right: 0;
            margin: 0 auto;
            transform: translateY(-50%);  
        }

        .box-categoria-proyecto p:hover,.box-categoria-proyecto p:focus,.box-categoria-proyecto p:active{
            opacity: 1;
        }
    }
    section.contact-me{ 
        position: relative;
        padding: 40px 0;
        h3{
            color: #0F8B8D;
            font-family: 'Gloria Hallelujah', cursive;
        }
        hr{
            color: #1A252F;
            width: 50px;
            text-align: center;
            margin: auto;
            border-top: 2px solid #1a252f;
            margin-bottom: 20px;
        } 
        i{
            font-size: $font-size-base*6;
        }
    }
    footer{
        padding-top: 10px;
        background-color: #0F8B8D;
        color: #fff;
        //font-size: $font-size-base*1.5;
    }
}


