* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }
  html div.nav,
  body div.nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200; }
    html div.nav ul#menu,
    body div.nav ul#menu {
      opacity: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%; }
      html div.nav ul#menu #start,
      body div.nav ul#menu #start {
        background-color: #FF6B57; }
      html div.nav ul#menu #about-me,
      body div.nav ul#menu #about-me {
        background-color: #FF884D; }
      html div.nav ul#menu #skill,
      body div.nav ul#menu #skill {
        background-color: #32526E; }
      html div.nav ul#menu #projects,
      body div.nav ul#menu #projects {
        background-color: #81B9C3; }
      html div.nav ul#menu #contact-me,
      body div.nav ul#menu #contact-me {
        background-color: #41C3AC; }
      html div.nav ul#menu .link,
      body div.nav ul#menu .link {
        display: table;
        width: 100%; }
        html div.nav ul#menu .link a,
        body div.nav ul#menu .link a {
          width: 100%;
          height: 20vh;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          color: #fff;
          width: 100%;
          text-decoration: none; }
        html div.nav ul#menu .link a#a-contact-me,
        body div.nav ul#menu .link a#a-contact-me {
          height: 20.1vh; }
  html #hero,
  body #hero {
    /*----section-start---*/ }
    html #hero .col-sm-10, html #hero .col-sm-2,
    body #hero .col-sm-10,
    body #hero .col-sm-2 {
      padding: 0;
      margin: 0; }
    html #hero #link-content,
    body #hero #link-content {
      margin: 0;
      padding: 0;
      height: 100vh;
      background: #FF6B57;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, #FF6B57, #FF884D);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #FF6B57, #FF884D);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #FF6B57, #FF884D);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #FF6B57, #FF884D);
      /* Standard syntax (must be last) */ }
    html #hero section,
    body #hero section {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: none;
      opacity: 0; }
    html #hero .visible,
    body #hero .visible {
      opacity: 1;
      display: table; }
      html #hero .visible div.content,
      body #hero .visible div.content {
        display: table-cell;
        vertical-align: middle; }
        html #hero .visible div.content h2,
        body #hero .visible div.content h2 {
          color: #fff; }
    html #hero section#section-start div.container-contact-me,
    body #hero section#section-start div.container-contact-me {
      display: table;
      height: 90vh;
      margin: auto; }
      html #hero section#section-start div.container-contact-me p,
      body #hero section#section-start div.container-contact-me p {
        display: table-cell;
        vertical-align: middle; }
        html #hero section#section-start div.container-contact-me p button,
        body #hero section#section-start div.container-contact-me p button {
          padding: 20px; }
      html #hero section#section-start div.container-contact-me .overlay,
      body #hero section#section-start div.container-contact-me .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s; }
      html #hero section#section-start div.container-contact-me .overlay-content,
      body #hero section#section-start div.container-contact-me .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px; }
      html #hero section#section-start div.container-contact-me .overlay a,
      body #hero section#section-start div.container-contact-me .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s; }
      html #hero section#section-start div.container-contact-me .overlay a:hover, html #hero section#section-start div.container-contact-me .overlay a:focus,
      body #hero section#section-start div.container-contact-me .overlay a:hover,
      body #hero section#section-start div.container-contact-me .overlay a:focus {
        color: #f1f1f1; }
      html #hero section#section-start div.container-contact-me .overlay .closebtn,
      body #hero section#section-start div.container-contact-me .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px; }
      @media screen and (max-height: 450px) {
        html #hero section#section-start div.container-contact-me .overlay a,
        body #hero section#section-start div.container-contact-me .overlay a {
          font-size: 20px; }
        html #hero section#section-start div.container-contact-me .overlay .closebtn,
        body #hero section#section-start div.container-contact-me .overlay .closebtn {
          font-size: 40px;
          top: 15px;
          right: 35px; } }
    html #hero section#section-start div.container-canvas div#particle-canvas,
    body #hero section#section-start div.container-canvas div#particle-canvas {
      overflow: hidden;
      height: 100vh;
      width: 100wh;
      margin: 0;
      padding: 0; }
    html #hero section#section-start h1, html #hero section#section-start h2,
    body #hero section#section-start h1,
    body #hero section#section-start h2 {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      color: #fff;
      z-index: 1000;
      display: inline-block; }
    html #hero section#section-start h1,
    body #hero section#section-start h1 {
      background-color: rgba(0, 0, 0, 0.3);
      display: inline;
      bottom: 5px;
      padding: 10px 0; }
    html #hero section#section-start h2,
    body #hero section#section-start h2 {
      top: 20px; }
    html #hero section#section-about-me h2,
    body #hero section#section-about-me h2 {
      padding-bottom: 10px; }
    html #hero section#section-about-me img,
    body #hero section#section-about-me img {
      border: solid 4px #fff;
      border-radius: 10px; }
    html #hero section#section-about-me .info,
    body #hero section#section-about-me .info {
      padding: 10px;
      height: 250px;
      width: 250px;
      margin: auto;
      -webkit-perspective: 700; }
    html #hero section#section-about-me .container_info,
    body #hero section#section-about-me .container_info {
      display: table;
      height: 100%;
      width: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: 1s; }
      html #hero section#section-about-me .container_info .side,
      body #hero section#section-about-me .container_info .side {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        position: absolute; }
      html #hero section#section-about-me .container_info div.front,
      body #hero section#section-about-me .container_info div.front {
        display: table-cell;
        vertical-align: middle; }
        html #hero section#section-about-me .container_info div.front h3 i,
        body #hero section#section-about-me .container_info div.front h3 i {
          display: table-cell;
          vertical-align: middle;
          font-size: 60px;
          color: #fff; }
      html #hero section#section-about-me .container_info .back,
      body #hero section#section-about-me .container_info .back {
        transform: rotateY(180deg);
        font-size: 16px;
        color: #fff;
        text-align: justify;
        display: block; }
      html #hero section#section-about-me .container_info #awards,
      body #hero section#section-about-me .container_info #awards {
        color: #fff; }
    html #hero section#section-about-me .container_info:hover,
    body #hero section#section-about-me .container_info:hover {
      transform: rotateY(180deg); }
    html #hero section#section-about-me div.container-box-p,
    body #hero section#section-about-me div.container-box-p {
      color: #fff;
      text-align: justify; }
    html #hero section#section-skill h3,
    body #hero section#section-skill h3 {
      color: #fff;
      padding-bottom: 10px;
      font-family: 'Pacifico', cursive; }
    html #hero section#section-skill #myProgress,
    body #hero section#section-skill #myProgress {
      width: 100%;
      background-color: #ddd; }
      html #hero section#section-skill #myProgress #myBarHTML5, html #hero section#section-skill #myProgress #myBarCss, html #hero section#section-skill #myProgress #myBarBootstrap, html #hero section#section-skill #myProgress #myBarJs, html #hero section#section-skill #myProgress #myBarJquery, html #hero section#section-skill #myProgress #myBarSass, html #hero section#section-skill #myProgress #myBarGithub, html #hero section#section-skill #myProgress #myBarGulp, html #hero section#section-skill #myProgress #myBarProactividad, html #hero section#section-skill #myProgress #myBarEquipo, html #hero section#section-skill #myProgress #myBarLiderazgo, html #hero section#section-skill #myProgress #myBarResponsabilidad, html #hero section#section-skill #myProgress #myBarEntuciasmo, html #hero section#section-skill #myProgress #myBarPensamiento, html #hero section#section-skill #myProgress #myBarPuntualidad,
      body #hero section#section-skill #myProgress #myBarHTML5,
      body #hero section#section-skill #myProgress #myBarCss,
      body #hero section#section-skill #myProgress #myBarBootstrap,
      body #hero section#section-skill #myProgress #myBarJs,
      body #hero section#section-skill #myProgress #myBarJquery,
      body #hero section#section-skill #myProgress #myBarSass,
      body #hero section#section-skill #myProgress #myBarGithub,
      body #hero section#section-skill #myProgress #myBarGulp,
      body #hero section#section-skill #myProgress #myBarProactividad,
      body #hero section#section-skill #myProgress #myBarEquipo,
      body #hero section#section-skill #myProgress #myBarLiderazgo,
      body #hero section#section-skill #myProgress #myBarResponsabilidad,
      body #hero section#section-skill #myProgress #myBarEntuciasmo,
      body #hero section#section-skill #myProgress #myBarPensamiento,
      body #hero section#section-skill #myProgress #myBarPuntualidad {
        width: 1%;
        height: 30px;
        background-color: #0F8B8D;
        color: #fff;
        align-content: center; }
