* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*outline: 1px solid red;*/ }

html div.container-canvas div#particle-canvas,
body div.container-canvas div#particle-canvas {
  overflow: hidden;
  height: 100vh;
  width: 100wh;
  margin: 0;
  padding: 0; }
html section.hero,
body section.hero {
  /*background-color: rgba(255, 205, 13,.4);*/
  height: 100vh;
  width: 100wh;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  color: #fff; }
  html section.hero div.hero-container header,
  body section.hero div.hero-container header {
    position: fixed;
    top: 0;
    right: 43px;
    left: 43px;
    z-index: 300; }
    html section.hero div.hero-container header h2,
    body section.hero div.hero-container header h2 {
      background-color: #000;
      font-size: 10px;
      display: inline-block;
      padding: 7px; }
    html section.hero div.hero-container header i,
    body section.hero div.hero-container header i {
      background-color: #000;
      padding: 10px;
      margin: 20px 10px; }
    html section.hero div.hero-container header ul#menu,
    body section.hero div.hero-container header ul#menu {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-flex;
      background-color: #000; }
      html section.hero div.hero-container header ul#menu li a,
      body section.hero div.hero-container header ul#menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none; }
        html section.hero div.hero-container header ul#menu li a:hover,
        body section.hero div.hero-container header ul#menu li a:hover {
          background-color: #111111; }
  html section.hero div.hero-container div#background-presentation,
  body section.hero div.hero-container div#background-presentation {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
html section.about-me,
body section.about-me {
  position: relative;
  padding: 40px 0; }
  html section.about-me h3,
  body section.about-me h3 {
    color: #0F8B8D;
    font-family: 'Gloria Hallelujah', cursive; }
  html section.about-me hr,
  body section.about-me hr {
    color: #1A252F;
    width: 50px;
    text-align: center;
    margin: auto;
    border-top: 2px solid #1a252f;
    margin-bottom: 20px; }
  html section.about-me div.container-colum,
  body section.about-me div.container-colum {
    position: relative; }
    html section.about-me div.container-colum h3,
    body section.about-me div.container-colum h3 {
      font-size: 60px;
      color: #D62246; }
    html section.about-me div.container-colum div.content,
    body section.about-me div.container-colum div.content {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
      opacity: 0;
      color: #fff;
      background: #0F8B8D;
      border-radius: 20px;
      padding: 5px 40px; }
      html section.about-me div.container-colum div.content ul,
      body section.about-me div.container-colum div.content ul {
        list-style: none; }
    html section.about-me div.container-colum div.content:hover,
    body section.about-me div.container-colum div.content:hover {
      opacity: 1; }
html section.skill,
body section.skill {
  padding: 40px 0; }
  html section.skill h3,
  body section.skill h3 {
    color: #0F8B8D;
    font-family: 'Gloria Hallelujah', cursive; }
  html section.skill hr,
  body section.skill hr {
    color: #1A252F;
    width: 50px;
    text-align: center;
    margin: auto;
    border-top: 2px solid #1a252f;
    margin-bottom: 20px; }
  html section.skill span,
  body section.skill span {
    color: #D62246; }
  html section.skill #myProgress,
  body section.skill #myProgress {
    width: 100%;
    background-color: #ddd; }
    html section.skill #myProgress .myBar,
    body section.skill #myProgress .myBar {
      width: 1%;
      height: 30px;
      background-color: #0F8B8D; }
html section.projects,
body section.projects {
  position: relative;
  padding: 40px 0; }
  html section.projects h3,
  body section.projects h3 {
    color: #0F8B8D;
    font-family: 'Gloria Hallelujah', cursive; }
  html section.projects hr,
  body section.projects hr {
    color: #1A252F;
    width: 50px;
    text-align: center;
    margin: auto;
    border-top: 2px solid #1a252f;
    margin-bottom: 20px; }
  html section.projects .box-categoria-proyecto,
  body section.projects .box-categoria-proyecto {
    position: relative; }
  html section.projects .box-p,
  body section.projects .box-p {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(240, 95, 64, 0.6);
    opacity: 0; }
  html section.projects .box-p:hover, html section.projects .box-p:focus, html section.projects .box-p:active,
  body section.projects .box-p:hover,
  body section.projects .box-p:focus,
  body section.projects .box-p:active {
    opacity: 1; }
  html section.projects .box-categoria-proyecto p,
  body section.projects .box-categoria-proyecto p {
    position: absolute;
    font-size: 30px;
    color: #fff;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%); }
  html section.projects .box-categoria-proyecto p:hover, html section.projects .box-categoria-proyecto p:focus, html section.projects .box-categoria-proyecto p:active,
  body section.projects .box-categoria-proyecto p:hover,
  body section.projects .box-categoria-proyecto p:focus,
  body section.projects .box-categoria-proyecto p:active {
    opacity: 1; }
html section.contact-me,
body section.contact-me {
  position: relative;
  padding: 40px 0; }
  html section.contact-me h3,
  body section.contact-me h3 {
    color: #0F8B8D;
    font-family: 'Gloria Hallelujah', cursive; }
  html section.contact-me hr,
  body section.contact-me hr {
    color: #1A252F;
    width: 50px;
    text-align: center;
    margin: auto;
    border-top: 2px solid #1a252f;
    margin-bottom: 20px; }
  html section.contact-me i,
  body section.contact-me i {
    font-size: 32px; }

/*# sourceMappingURL=style.css.map */
